{% extends 'base.html' %}
{% load static %}
{% block title %}Perfil{% endblock title %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock styles %}

{% block content %}
 <div id="content">
    <div class="container-fluid">
        <div class="row">
            <form class="col-md-6 col-lg-4 offset-md-3 offset-lg-4" method="POST" action="" enctype="multipart/form-data">
                <div class="row">
                    {% csrf_token %}
                    {% for f in userform %}
                        {% if not f.is_hidden %}
                            <div class="form-group col-md-6">
                                {{f.label}}
                                {{f}}
                                {% for error in errors %}
                                    <div class="invalid-feedback" style="display: initial;">{{error}}</div>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{f}}    
                        {% endif %}
                    {% endfor %}
                    {% for f in profileform %}
                        {% if not f.is_hidden %}
                            <div class="form-group col-md-6">
                                {{f.label}}
                                {{f}}
                                {% for error in errors %}
                                    <div class="invalid-feedback" style="display: initial;">{{error}}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </div>
 </div>
{% endblock content %}

