{% extends 'base.html' %}
{% load static %}
{% block title %}Perfil{% endblock title %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock styles %}

{% block content %}
 <div id="content">
    <div class="container-fluid">
        <div class="row">
            <form class="col-md-6 col-lg-4 offset-md-3 offset-lg-4" method="POST" action="">
                <div class="row">
                    {% csrf_token %}
                    {% for f in profileform %}
                        {% if not f.is_hidden %}
                            <div class="form-group col-md-6">
                                {{f.label}}
                                {{f}}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
 </div>
{% endblock content %}

